.panel {
  width: 90%;
  max-width: 800px;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: var(--border-radius);
  border: 1px solid var(--blur-border);
  background-color: var(--blur-background);
  box-shadow: var(--shadow-blur);
  z-index: 5;
}

.progress {
  font-size: var(--text-caption-size);
  font-weight: var(--font-medium);
  text-align: center;
  padding: 4px 6px;
  border-radius: var(--border-radius);
  background: var(--color-accent);
  letter-spacing: var(--letter-spacing);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.buttonsControls {
  padding: 6px 12px;
}