.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.headerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.buttonMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.leaderboardList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.periodButton {
  &.active {
    background: var(--color-link-pressed);
    animation: pulse 0.4s ease;
  }
}
