.section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.searchInput {
  flex: 1;
}

.loading {
  color: var(--color-caption);
}

.error {
  color: var(--color-error);
  font-weight: var(--font-medium);
}

.table {
  border-collapse: collapse;
  background: var(--color-card);
  box-shadow: var(--shadow-blur);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.tableHead {
  background: var(--color-accent);
}

.tableBody {
  background: var(--color-card);
}

.tableRow {
  border-bottom: 1px solid var(--color-disabled);
  transition: background-color 0.2s ease;
}

.tableHeader {
  padding: 12px 24px;
  text-align: left;
  font-size: var(--text-body-size);
  font-weight: var(--font-medium);
  color: var(--color-text);
}

.tableCell {
  padding: 12px 24px;
  color: var(--color-text);
  font-size: var(--text-body-size);
}

.audioPlayer {
  width: 200px;
}

.actions {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.buttonActions {
  min-width: 160px;
}

.loading {
  text-align: center;
  color: var(--color-caption);
}

.emptyState {
  padding: 24px;
  text-align: center;
  color: var(--color-caption);
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.deleteAudioForm {
  display: flex;
  align-items: center;
  gap: 16px;
}

.buttonDeleteAudio {
  padding: 2px;
  border-radius: var(--border-radius);
  height: auto;
  width: auto;
}

.modalTitle {
  text-align: left;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

