.sliderOuter {
  display: flex;
  position: relative;
  width: 100%;
}

.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    transform: scale(1.05);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.arrowLeft {
  top: 50%;
  left: -5px;
}

.arrowRight {
  top: 50%;
  right: -5px;
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.swiper {
  padding: 0 0 20px;
  margin: 0 25px;
}

.slide {
  width: auto;
  flex-shrink: 0;
}

.swiper :global(.swiper-pagination) {
  bottom: 0 !important;
  padding-top: 12px;
}

.swiper :global(.swiper-slide) {
  height: auto;
}

.swiper :global(.swiper-pagination-bullet) {
  width: 9px;
  height: 9px;
  background: #ccc;
  opacity: 1;
  margin: 0 5px;
}

.swiper :global(.swiper-pagination-bullet-active) {
  background: var(--color-accent);
  width: 9px;
  height: 9px;
}