.blurContainer {
  display: flex;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: var(--border-radius);
  border: 1px solid var(--blur-border);
  background-color: var(--blur-background);
  box-shadow: var(--shadow-blur);
  z-index: 1;
}