.mainPageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.containerRouteOfTheDay {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.routeContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerBlur {
  padding: 5px 10px;
}

.sectionPopRecRoutes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.headerOfSmallSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titlePopularRoutes {
  font-weight: var(--font-medium);
  font-size: var(--text-h3-size);

  @media (max-width: 925px) {
    font-size: var(--text-h4-size-mobile);
  }
}

.buttonWatchAll {
  padding: 5px 10px;
}

.positionGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media (max-width: 1075px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.errorBanner {
  position: relative;
  z-index: 1;
  background-color: var(--color-card);
  color: var(--color-alarm);
  border-radius: 12px;
  border: 1px solid var(--color-accent);
  font-size: var(--text-body-size);
  font-weight: var(--font-regular);
  font-family: var(--font-body);
  letter-spacing: var(--letter-spacing);
  text-align: center;
}
